<%= link_to t('links.coins'), coins_path, class:"btn btn-primary btn-lg px-4 me-md-2", role:"button" %> </li>
<%= link_to t('links.mining_type'), mining_types_path,class:"btn btn-primary btn-lg px-4 me-md-2", role:"button" %>
