<h1>Sejam Bem vindos</h1>
<p><strong>Data:</strong><%= data_br(Date.today) %></p>

<%= link_to "Cadstro de Moedas", coins_path %>

<p>você esta no ambiente de <strong> <%= ambiente_rails %> </strong></p>
