<h1>Seja bem vindo - <%= data_br(Date.today) %></h1>

<p>SISTEMA DE CADASTRO DE MOEDAS DIGITAIS </p>

<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>

<p>
  Você esta usando o ambiente de : <strong> <%= ambiente_rails %></strong>
</p>
