<h1>Seja bem vindo - <%= data_br(Date.today) %></h1>

<p>SISTEMA DE CADASTRO DE MOEDAS DIGITAIS </p>

<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>
<script>

  const el = document.querySelector('h1')
  el.style.color = "green"
  el.style.fontSize = "90px"
</script>
